<!-- 工具项多于5项时提供选择 -->
{{define "boxsel_m"}}
<div class="row BoxSearch">
    <div calss="SearchD">
        <div class="col-md-2 SearchLabel">
            <div calss="OptionSelect">请选择</div>
        </div>
        <div class="col-md-4 SearchSelect">
            <select class="form-control crawler-dst-selector select2-hidden-accessible " tabindex="-1" aria-hidden="true">
                <option selected="true" value="s1">选项一</option>
                <option selected="true" value="MB">选项额</option>
            </select>
        </div>
    </div>
</div>
{{end}}

