{{define "grouplist"}}
<!-- 工具大类别名称选项列表 -->
{{range .}}
<!-- {{.}} -->
<div class="BoxTypeCT">
	<div class="BoxTypeOk BoxTypeErr" id="group-{{.Name}}">
		<button type="button" class="btn btn-info SidebarWH" data="group-{{.Name}}">
			<a href="/{{.Name}}.html"><span class="glyphicon " aria-hidden="true"></span> {{.ShowName}}</a>
		</button>
	</div>
</div>
{{end}}
{{end}}

