<!-- 所选工具不可用时展示 -->
{{define "boxinfo"}}
<div calss="BoxInfo">
    <div class="row InfoLine ">
        <div class="col-md-1 InfoTitle">工具名称 : </div>
		<div class="col-md-4 InfoTxt">{{.ShowName}} [{{.Group}}-{{.Name}}]</div>
    </div>
    <div class="row InfoLine ">
        <div class="col-md-1 InfoTitle">作者信息 : </div>
        <div class="col-md-4 InfoTxt">{{.Author}}</div>
    </div>
    <div class="row InfoLine ">
        <div class="col-md-1 InfoTitle">执行模式 : </div>
		<div class="col-md-4 InfoTxt">{{.Mode}}</div>
    </div>
    <div class="row InfoLine ">
        <div class="col-md-1 InfoTitle">功能描述 : </div>
		<div class="col-md-4 InfoDes">{{.Description}}</div>
    </div>
</div>
{{end}}
