<!-- 选中的具体工具可用并且有附加参数时展示 -->
{{define "boxparam"}}
<!--{{.}}-->
<div class="BoxForm">
	{{range .}}
	<!--{{.}}-->
    <div class="row BoxInputParam">
		<span class="col-md-1 add-on">{{.Label}}</span>
        <input class="col-md-4 span2" id="boxInput" name="{{.Name}}" type="{{.Type}}" placeholder="{{.Hint}}" value="{{.Value}}">
            </div>
	{{end}}
	<!-- 按钮部分 -->
    <div class="BoxInputSubmit">
        <input  type="submit" id="BoxSubmit" name="param2" value="查询/执行"> </input>
    </div>
</div>
{{end}}
