
<!-- 工具项小于6项时 -->
{{define "boxsel"}}
<div class="BoxSelect ">
	<ul class="nav nav-tabs">
		{{range .}}
		<!-- {{.}} -->
		<li class="box-{{.Name}}" id="{{.Group}}-{{.Name}}" selid="boxsel">
			<a href="/{{.Group}}/{{.Name}}.html"><bx >{{.ShowName}}</bx></a>
		</li>
		{{end}}
	</ul>
</div>
{{end}}
